nav {
  color: forestgreen;
  font-size: 22px;
  font-style: bold;
  background-color: palevioletred;
  display: flexbox;
}

body {
  background-color: rgb(237, 231, 121);
}
h1 {
  color: royalblue;
}
p {
  font-size: 18px;
  color: darkred;
}